.table-header
  %h1 Entregadores
  = link_to 'Adicionar novo', new_deliveryman_path, class: 'btn add right'
.flex.margin-top-20
  .bg-content.width-100
    %table.bordered
      %thead
        %tr
          %th= Deliveryman.human_attribute_name(:address)
          %th= Deliveryman.human_attribute_name(:birthday)
          %th= Deliveryman.human_attribute_name(:city)
          %th= Deliveryman.human_attribute_name(:cpf_cnpj)
          %th= Deliveryman.human_attribute_name(:email)
          %th= Deliveryman.human_attribute_name(:name)
          %th= Deliveryman.human_attribute_name(:neighborhood)
          %th= Deliveryman.human_attribute_name(:phone)
          %th= Deliveryman.human_attribute_name(:rg)
          %th= Deliveryman.human_attribute_name(:uf)
          %th= Deliveryman.human_attribute_name(:vehicle_color)
          %th= Deliveryman.human_attribute_name(:vehicle_license_plate)
          %th= Deliveryman.human_attribute_name(:vehicle_model)
          %th= Deliveryman.human_attribute_name(:vehicle_year)
          %th
          %th
          %th

      %tbody
        - @deliverymen.each do |deliveryman|
          %tr
            %td= deliveryman.address
            %td= deliveryman.birthday
            %td= deliveryman.city
            %td= deliveryman.cpf_cnpj
            %td= deliveryman.email
            %td= deliveryman.name
            %td= deliveryman.neighborhood
            %td= deliveryman.phone
            %td= deliveryman.rg
            %td= deliveryman.uf
            %td= deliveryman.vehicle_color
            %td= deliveryman.vehicle_license_plate
            %td= deliveryman.vehicle_model
            %td= deliveryman.vehicle_year
            %td= link_to 'Editar', edit_deliveryman_path(deliveryman)
            %td= link_to 'Deletar', deliveryman, method: :delete, data: { confirm: 'Você tem certeza?' }

    %br


