-# frozen_string_literal: true
.width-100.balance_sheets
  .flex
    .bg-content
      = simple_form_for(@order) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

        .form-inputs
          = f.input :destination_accountable
          = f.input :destination_address
          = f.input :destination_city, input_html: {value: current_user.company.city}
          = f.input :destination_neighborhood
          = f.input :destination_phone
          = f.input :destination_state, input_html: {value: current_user.company.state}
          = f.input :note
          -if current_user.admin?
            = f.association :company
            = f.association :deliveryman

        .form-actions
          = f.button :submit
