.table-header
  %h1 Entregadores
  = link_to 'Adicionar novo', new_company_path, class: 'btn add right'
.flex.margin-top-20
  .bg-content.width-100
    %table.bordered
      %thead
        %tr
          %th= Company.human_attribute_name(:accountable)
          %th= Company.human_attribute_name(:address)
          %th= Company.human_attribute_name(:city)
          %th= Company.human_attribute_name(:cpf_cnpj)
          %th= Company.human_attribute_name(:email)
          %th= Company.human_attribute_name(:name)
          %th= Company.human_attribute_name(:neighborhood)
          %th= Company.human_attribute_name(:phone)
          %th= Company.human_attribute_name(:state)
          %th
          %th
          %th

      %tbody
        - @companies.each do |company|
          %tr
            %td= company.accountable
            %td= company.address
            %td= company.city
            %td= company.cpf_cnpj
            %td= company.email
            %td= company.name
            %td= company.neighborhood
            %td= company.phone
            %td= company.state
            %td= link_to 'Show', company
            %td= link_to 'Edit', edit_company_path(company)
            %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

    %br

